body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(30, 30, 30);
}
.main{
    background-color: rgb(20, 20, 20);
    font-family: monospace;
    font-size: 6vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    height: 75vh;
    width: 90vw;
}
.cell{
    color: rgb(220, 70, 40);
    background-color: rgb(35, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.cell:hover{
    cursor: pointer;
    background-color: rgb(37, 40, 40);
    color: rgb(14, 14, 14);
}
.message{
    font-family: monospace;
    font-size: 3vh;
    background-color: rgb(28, 36, 36);
    color: rgb(90, 30, 30);
    display: flex;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translate(-50%);
}
.player{
    font-family: monospace;
    font-size: 3vh;
    font-weight: bolder;
    background-color: rgb(220, 70, 40);
    color: rgb(28, 36, 36);
    display: flex;
    justify-content: center;
    width: 20vh;
    position: fixed;
    left: 50%;
    top: 2%;
    transform: translate(-50%);
}
.quit{
    font-family: monospace;
    font-size: 3vh;
    font-weight: 600;
    background-color: rgb(220, 70, 40);
    color: rgb(28, 36, 36);
    display: flex;
    justify-content: center;
    width: 7vh;
    position: fixed;
    right: 5%;
    bottom: 7%;
}
.restart{
    font-family: monospace;
    font-size: 3vh;
    font-weight: 600;
    background-color: rgb(220, 70, 40);
    color: rgb(28, 36, 36);
    display: flex;
    justify-content: center;
    width: 7vh;
    position: fixed;
    left: 5%;
    bottom: 7%;
}
.quit:hover{
    cursor: pointer;
}
.restart:hover{
    cursor: pointer;
}